name: ROS Control CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip clang-format-10
        pip install -r requirements.txt
    - name: Code style check (Python)
      run: |
        pip install flake8
        flake8 --max-line-length=120 --exclude=build,.git .
    - name: Code style check (C++)
      run: |
        find . -regex '.*\.\(cpp\|hpp\|cc\|cxx\)' -exec clang-format-10 --style=file -i {} +
